body {
  margin: 0;
  text-align: center;
}
/**********Element CSS*************/

/**********Classes CSS*************/
.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottem-cloud {
  position: absolute;
  left: 300px;
}
.middle-container {
}
.bottem-container {
}
